.sidenav-container {
  height: 100%;
}

.inner-logo{
  width: 85px;
}

.nav-top{
  background: #1e2129;
}

.nav-top h3{
  margin-bottom: 6px;
}

.nav-top p{
  color: #999999fc;
}

.nav-top-content{
  padding-top: 30px;
  text-align: center;
  color: beige;
  height: 140px;
}

.profile-pic{
  position: absolute;
  top: 173px;
  border-radius: 50%;
  padding: 8px;
  transform: translateX(-50%);
  left: 50%;
  width: 75px;
  height: 75px;
  border: 8px solid #2d323e;
  overflow: hidden;
}

.avatar{
    width: 90px;
    min-width: 90px;
    height: 90px;
    line-height: 0px;
    margin: -9px 0px -4px -5px;
    border-radius: 50%;
}

.sidenav {
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  z-index: 1000;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 35%);
  background-color: #2d323e;
}

.nav-list{
  font-weight: 300;
  margin: 50px 16px 0 0;
  font-size: 12px;
}

.nav-list a {
  color: #f0f0f0;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0px 28px 28px 0px;
}

.is-active{
  background-color: #1195d2 !important;
  border-radius: 0px 28px 28px 0px;
  color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background: #e7531e;
  position: sticky;
  top: 0;
  z-index: 1;
}
